/** ======== ADMINISTRATION ======== **/

/** ======== USERS ======== **/
.ad_users-container {
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap:2em
}

.ad_users {
    background-color: var(--dark-primary);
    border-radius: 10px;
    padding: 8px;
    padding-left: 2em;
}

.ad_users > li + li {
    border-top: 3px solid var(--dark-tertiary);
}

.ad_user-li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8em;
    margin-right: 1em;
}

.ad_user img {
    width: 2em;
    margin-right: 2em;
    border-radius: 10%;
}
.ad_user {
    display: flex;
    align-items: center;
}

.usersActionButtons {
    display: flex;
    align-items: center;
}
.usersActionButtons input[type="file"] {
 display: none;
}

.ad_user-li button img{
    padding: 0px;
    width: 1em;
    cursor: pointer;
}
.ad_user-li label {
    padding: 0px;
    height: auto;
}
.ad_user-li label img {
    padding: 0px;
    width: 2em;
    cursor: pointer; 
}

.userRoleSelect {
    width: 8em;
    height: 2em;
    margin-right: 8px;
    padding: 0 10px 5px;
    color: var(--primary);
    border-radius: .25em;
    background-color: var(--dark-tertiary);
    background-image: none;
    cursor: pointer;
    outline: 10px red;
    border: 0;
    box-shadow: none;
    text-overflow: ellipsis;  
}
.userRoleSelect::after {
    vertical-align: center;
}

/** ======== TAGS ======== **/
/** ======== CATEGORIES ======== **/
/** ======== EXTERNAL ACCESS ======== **/
/** ======== INGREDIENTS ======== **/
.ingredients-container {
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap:2em
}

.addIngredient {
    display: flex;
    align-items: center;
    height: 50px;
    position: relative;
    width: 22em;
}

.ingredients {
    background-color: var(--dark-primary);
    border-radius: 10px;
    padding: 8px;
    padding-left: 2em;
}

.ingredients > li + li {
    border-top: 3px solid var(--dark-tertiary);
}

.ingredient-li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4em;
    padding-left: 1em;
    margin-right: 1em;
}

.ingredient img {
    width: 2em;
    margin-right: 2em;
}
.ingredient {
    display: flex;
    align-items: center;
}

.unitTypeSelect {
    width: 5em;
    height: 2em;
    margin-right: 8px;
    padding: 0 10px 5px;
    color: var(--primary);
    border-radius: .25em;
    background-color: var(--dark-tertiary);
    background-image: none;
    cursor: pointer;
    outline: 10px red;
    border: 0;
    box-shadow: none;
}
.unitTypeSelect::after {
    vertical-align: center;
}

.DeleteButton {
    margin-right:15px
}

.ingredient-li button, .ingredient label {
    padding: 7px;
}
.ingredient-li button img{
    padding: 0px;
    width: 1em;
    cursor: pointer;
}
.ingredient-li label {
    padding: 0px;
    height: auto;
}
.ingredient-li label img {
    padding: 0px;
    width: 2em;
    cursor: pointer; 
}
.ingredientsActionButtons {
    display: flex;
    align-items: center;
}
.ingredientsActionButtons input[type="file"] {
 display: none;
}

/** ======== STATS ======== **/