.form {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.form form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form form input {
  display: block;
  margin: 10px;
  background-color: #2c2b2b;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  padding: 4px 20px 3px;
}