.book-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.book-card {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--dark-tertiary);
  border-radius: 20%;
  text-align: center;
  cursor: pointer;
}

.add-book-card {
  background-color: inherit;
  border: 2px solid var(--dark-tertiary);
}

.book-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

.book-form button {
  width: 10vw;
}

.title {
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.recipe-form .buttons {
  display: flex;
  flex-direction: initial;
  justify-content: space-evenly;
}

#select_form {
  height: auto;
}

#recipes {
  padding-top: 15px;
}

.item {
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
}

.item .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  border: 1.5px solid #c0c0c0;
  margin-right: 8px;
  margin-top: 3px;
}

.checkbox .check-icon {
  font-size: 11px;
}

.item.checked .checkbox {
  background-color: #08d;
  border: 1.5px solid #08d;
}

.item.checked .check-icon {
  color: #fff;
}
