.bookHeader {
  display: inline-flex;
  width: 100%;
}
.bookHeader h1 {
  flex: 20;
}

.bookHeader button {
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 20%;
  padding-top: 14px;
}

.bookHeader img {
  width: 1.2em;
  height: 1.2em;
}

.placeholder {
  color: #af6c71;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.recipe-form .buttons {
  display: flex;
  flex-direction: initial;
  justify-content: space-evenly;
}

.cancel {
  background-color: rgb(221, 0, 0);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

#select_form {
  height: auto;
}

#recipes {
  padding-top: 15px;
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.item .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  border: 1.5px solid #c0c0c0;
  margin-right: 8px;
}

.checkbox .check-icon {
  font-size: 11px;
}

.item.checked .checkbox {
  background-color: #08d;
  border: 1.5px solid #08d;
}

.item.checked .check-icon {
  color: #fff;
}
