.book-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.book-card {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--dark-tertiary);
  border-radius: 20%;
  text-align: center;
  cursor: pointer;
}

.add-book-card {
  background-color: inherit;
  border: 2px solid var(--dark-tertiary);
}

.book-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

.book-form button {
  width: 10vw;
}

.title {
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
color: #eee;
font-family: sans-serif;
font-size: 16px;
font-weight: 600;
margin-top: 10px;
}

.input-container {
height: 50px;
position: relative;
width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: var(--dark-primary);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 10px;
  width: 100%;
}

.cut {
  background-color: var(--dark-secondary);
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 100px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #af6c71;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #9fbe89;
}

.input:focus ~ .placeholder {
  color: #e16f8e;
}

.recipe-form .buttons {
  display: flex;
  flex-direction: initial;
  justify-content: space-evenly;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

.cancel {
  background-color: rgb(221, 0, 0);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

#select_form {
  height: auto;
}

#recipes {
  padding-top: 15px;
}

.item {
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
}

.item .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  border: 1.5px solid #c0c0c0;
  margin-right: 8px;
  margin-top: 3px;
}

.checkbox .check-icon {
  font-size: 11px;
}

.item.checked .checkbox {
  background-color: #08d;
  border: 1.5px solid #08d;
}

.item.checked .check-icon {
  color: #fff;
}
